// Join Us
.join-us {
	background: url('/elipse-green-1.svg'), url('/elipse-darkblue-3.svg'), url('/elipse-blue-3.svg'), url('/elipse-blue-3.svg'), url('/elipse-darkblue-3.svg'), url('/elipse-green-1.svg'), linear-gradient(180deg, #00ADEF 0%, #00A8EE 16.15%, #0076E0 100%);
	background-repeat: no-repeat;
	background-size: 0px, 0px, 0px, 0px, 0px, 0px, 100%;
	background-position: calc(0% - 100px) 100%, 20% 5%, 25% 95%, 60% 20%, 55% 90%, calc(100% + 100px) 0%,center;
	padding: 10px 0px 0px;
	.columns {
		margin: 0px;
		.column {
			padding: 0px 0.75rem ;
		}
	}
	.cont-info {
		text-align: center;
		padding: 20px 0px 50px;
	}
	.image {
		max-width: 500px;
		margin: auto;
	}
	h1 {
		strong {
			color: $base-color-2;
		}
	}
	p {
		color: $base-color-2;
		strong, a {
			color: $secondary-color-2;
		}
	}
	a {
		position: relative;
		&:hover {
			color: $secondary-color-2 !important;
			&::before {
				width: 100%;
			}
		}
		&::before {
			background: $secondary-color-2;
			border-radius: 10px;
			bottom: -5px;
			content: '';
			height: 5px;
			position: absolute;
			transition: all 0.3s;
			width: 0%;
			left: 50%;
			transform: translate(-50% , 0%);
		}
	}
}

@mixin join-us-desktop {
	.join-us {
		background-size: 200px, 50px, 40px, 40px, 50px, 200px, 100%;
		padding: 30px 0px 0px;
		.cont-info {
			text-align: left;
			margin: 0px ;
		}
		.image {
			max-width: inherit;
			margin: 0px;
		}
	}
}