.page-hero2 .hero-body2 {
    padding: 50px 0px 0px;
    // background: url("/Group145.svg");
    background-repeat: no-repeat;
    // background-position: 20% calc(100% + 0px);
    // background-size: cover; 
}
// .imagen-terminal{
//     position: absolute;
//     max-width: 70%!important;
//     top: 20px;
//     right: 50px;
// }

.page-hero2 .container {
    padding: 0px 5px; }

    .page-hero2 .columns {
        margin: 0px; }
        .page-hero2 .columns .column {
          padding: 0px 0.75rem; }
      .page-hero2 .cont-info p {
        max-width: 800px; }

    .contenido-terminal{
        margin-left: 4.5rem;
    
    }
    .imagen-terminal{
        margin-left: 5.5rem;
    
    }
    .margin-left
    {
      margin-left: 16px;
    }
    .buttons p
    {
      font-size: 16px;
    }
    .espacio .cont-info .buttons
    {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

//     .buttons.is-centered {
// margin-left:  4rem;
//     }

    .disclaimer{
        padding: 10px 0px!important;
    }

    
    .imagen{
        max-width: 100%;
    }

    .espacio{
padding-top: 4rem;
    }
    .espaciomedio{
        padding-top: 2rem;
            }

    .marcasMencionadas{
       font-size:  17px;
       font-family: Poppins;
    }
     .terminalMuestra{
        width: 760px;
     }
     .superior{
        padding-top: 2rem;
     }
     .simulador,.simulador td, .simulador tr{
        width: 100%;
        border: none;
     
      
     }

     .subtitle{
        font-size: 20px;
        width: 10%!important;
        border-radius: 20px;
     }

     .izquierda{
        text-align: left!important;
     }

     .input{
        border:  solid #00AEEF;
        border-radius: 20px;
        // width: 50%;
        font-size: 14px;
        color: #00AEEF!important;
        font-weight: bold;
     }

     .texto{
        margin: 0px!important;
        padding-top: 1rem;
     }
     .entrada{
        margin: 0px!important;
     }

     .comision{
        color: #00AEEF!important;
        font-weight: bold;
        margin: 0px!important;
     }

     .total{
        color: #fff!important;
        font-weight: bold;
        margin: 0px!important;
     
        font-size: 28px;
     }
.th1{
    
    color: #C4C4C4!important;
        font-weight: bold;
}
     .th2{
        color: #00AEEF!important;
        font-weight: bold;
     }


     .text-w{
        color: #fff!important;

     }
     .bush{
        box-shadow: 1px 3px 8px 5px grey;
      
     }

     .imagenpe{
        max-width: 30%;
     }

     .centered{
        padding-left: 6rem;
        padding-top: 0px;
     }
     
     .mitem{
margin-left: 6rem;
margin-top: 1rem;
     }

     .blue-side{
        background-color: #00AEEF;
      
     }

     .text-disclaimer{
        color: #fff;
        font-size: 12px;
     }
     
     .table td{
        padding:0.1em 1.5em;
     }
   
     .round{
        border-radius: 20px;
     }
     .padding-b{
        padding-bottom: 40px;
     }