.videoSection
{
    width: 100%;
    background-color: #017ce0;
    height: 590px;
    display: flex;
    flex-direction: column;
    padding: 0 0 100px;
}
.videoTitle
{
    width: 100%;
}

.videoTitle h2
{
    border-radius: 0 50px 50px 0;
    width: 370px;
    padding: 1em 1.5em 1em 5%;
    background-color: #fff;
    display: inline-block;
    font-size: 28px;
    margin: 0;  
    color: #07457e !important; 
    text-align: end;
}

.sliderContainer
{
    width: 100%;
    height: 393px;
    margin: auto;
    display: flex;
}
.tarjetaVideo 
{
    width: calc(100% - 40px);
    max-width: 400px;
    max-height: 343px;
    margin-left: 30px;
    margin-right: 10px;
    padding: 20px;
}
.tarjetaVideoBienvenida
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 400px;
    max-height: 343px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.videoSection .holderVideoText {
    padding-bottom: 20px;
    min-height: 60px;
    font-size: 20px;
    color: #fff;
}
.videoSection .holderVideoText h3 {
    color: #d0df00;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}
.videoSection .holderVideoTextBienvenida h3 {
    color: #d0df00;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.videoSection .holderVideoText p {
    margin: 0;
}

.holderVideoImage
{
    width: 344px;
    height: 216px;
}

.containerStikers {
    max-width: 320px;
    margin: 0 auto;
}
.containerStikers ul {
    margin: 30px auto;
    list-style: none;
    width: 200px;
    padding: 0;
}
.containerStikers ul li {
    margin-bottom: 50px;
}
.descargaBtnWrpr {
    padding-top: 10px;
    text-align: center;
}
.swiper-slide-bienvenida
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px !important;
    margin: 0px !important;
    cursor: pointer;
}
.swiper-slide-bienvenida
{
    width: 400px !important;
}
.slider-container-bienvenida
{
    width: 90% !important;
}
.videoSection .sliderContainer
{
    width: 100%;
}
.holderVideoTextBienvenida h3 
{
    max-height: 48px;
    min-height: 48px;
    margin-bottom: 20px !important;
}
@media only screen and (min-width: 600px) {
    .videoSection .sliderContainer
    {
        width: 100%;
    }
}
@media only screen and (min-width: 1504px) {
    .videoSection .sliderContainer
    {
        width: 75%;
    }
}

// }
// @mixin home-section-hero-tablet {
    // .swiper-slide-bienvenida
    // {
    //     width: 420px !important;
    // } 
    // .slider-container-bienvenida
    // {
    //     width: 85% !important;
    // }
// }


// @mixin home-section-hero-desktop {
    // .swiper-slide-bienvenida
    // {
    //     width: 480px !important;
    // }
    // .slider-container-bienvenida
    // {
    //     width: 76% !important;
    // }

// }

