// Page Contact
.page-coverage {
	background: url('/elipse-green-1.svg'), url('/elipse-darkblue-1.svg'), url('/elipse-darkblue-3.svg'), url('/elipse-blue-1.svg'), #F6F6F8;
	background-repeat: no-repeat;
	background-size: 200px, 200px, 50px, 200px, 100%;
	background-position: calc(0% - 100px) calc(0% - 150px), calc(100% + 150px) calc(0% - 100px), calc(0% + 10px) calc(100% - 20px), calc(0% - 5px) calc(100% + 150px), center;
	.hero {
		.hero-body {
			padding: 0rem 10px;
		}
	}
}

@mixin page-coverage-desktop {
	.page-coverage {
		position: relative;
		background-size: 300px, 300px, 100px, 300px, 100%;
		background-position: calc(0% - 100px) calc(0% - 200px), calc(100% + 150px) calc(0% - 100px), calc(0% + 10px) calc(100% - 20px), calc(0% + 10px) calc(100% + 200px), center;
		.hero {
			&.is-fullheight {
				min-height: calc(100vh - 194px);
			}
			.hero-body {
				padding: 0rem 3rem;
			}
		}
	}
}